<mat-card>
  <h4>Todo #1</h4>
  <hr>
  <div>
    Lorem ipsum dolor sit amet, et pri simul menandri scribentur. Id vim amet oporteat legendos. Mea ex eligendi
    intellegam, eius dicunt at cum. Option postulant rationibus et vix, ei graece philosophia quo. Mel legimus explicari
    corrumpit id, inermis denique duo an.
    Ex doctus omittantur eam, in feugait scriptorem his. Nisl clita no vis, quo et assum everti, duo no semper
    adolescens. Pri ad alia harum consetetur. Has iracundia voluptatum in, at autem mucius nusquam pro. Postea dictas ex
    has, malis repudiare in sit. Probo choro principes his ne, ne vis elit postea intellegam, id debet nullam mel.
    Habemus appetere ea duo, te vivendum gubergren referrentur vel, congue everti consetetur pro ut.
  </div>
  <div class="d-flex flex-row justify-content-center">
    <button mat-button class="done-button">
      <mat-icon>check</mat-icon>Done
    </button>
  </div>
</mat-card>